{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="mx-auto text-wrap text-sm-start" style = "width:700px">
  <p>
    As a commuter, it is the most convenient to find places next by the light rail so I can quickly drop off and quickly
    do something rather than taking a bus in and out which can cost an extra 20 minutes. However, through Google Maps,
    you
    can only look at one station at once, while the light rail provides multiple stations. As a result, using
    preexisting
    solutions are difficult, You will have to research location to location manually. Hence, this tool aims to automate
    that
    process so you can search for results for all light rail stations near you as an alternative search engine. This is
    for people who depend on public transit. Public transit is great at Seattle, but requires more specialized tools for
    planning.
  </p>
</div>
{% endblock %}
